<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-2 sidebar-wrapper">
            <ul class="navbar-nav flex-column sidebar">
                <!-- Admin links -->
                <div *ngIf="isAdmin">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/dashboard/home" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <i class="bi bi-house-door-fill"></i> Kontrolni panel
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/dashboard/companies" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <i class="bi bi-person-circle"></i> Kompanije
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/dashboard/users" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <i class="bi bi-gear-fill"></i> Korisnici
                        </a>
                    </li>
                </div>

                <!-- Company Owner links -->
                <div *ngIf="isOwner">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/dashboard/barbers" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <i class="bi bi-person-circle"></i> Frizeri
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/dashboard/haircuts" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <i class="bi bi-gear-fill"></i> Usluge
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/dashboard/appointments" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <i class="bi bi-house-door-fill"></i> Zakazivanja
                        </a>
                    </li>
                </div>

                <!-- Barber links -->
                <div *ngIf="isBarber">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/dashboard/barber-appointments" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <i class="bi bi-house-door-fill"></i> Kalendar
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/dashboard/barber-management" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <i class="bi bi-house-door-fill"></i> Menadžment
                        </a>
                    </li>
                </div>

                <!-- Registered User links -->
                <div *ngIf="isRegisteredUser">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/dashboard/reservations" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <i class="bi bi-house-door-fill"></i> Rezervacije
                        </a>
                    </li>
                </div>

                <li class="nav-item border-top mt-2">
                    <a class="nav-link mt-1" routerLink="/dashboard/logout" (click)="logout()">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i> Izloguj se
                    </a>
                </li>
            </ul>
        </div>
        <div class="col p-4">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>