<div *ngIf="companies.length === 0">
  <p>Učitavanje kompanija...</p>
</div>
<button routerLink="/create-company">Kreiraj svoju kompaniju!</button>
<div *ngIf="companies.length > 0">
  <h2>Lista kompanija</h2>
  <ul>
    <li *ngFor="let company of companies">
      <a [routerLink]="['/companies', company.companyId]">
        {{ company.companyName }}
      </a>
      <!-- {{ company.companyName }}<br /> -->
      <div *ngFor="let image of company.imageUrl">
        <img [src]="image" alt="{{ company.companyName }}" referrerpolicy="no-referrer" width="150px" height="auto" />
      </div>

      <!-- <img [src]="company.imageUrl" alt="{{ company.companyName }}" referrerpolicy="no-referrer" width="150px"
        height="auto" /> -->
    </li>
  </ul>
  <div class="stagod">

  </div>
</div>
